@use "componentes1";

@mixin format-sec {
    padding: 1rem 2rem 4rem 2rem;
    margin:0 ;
}

*{
    width: 100%;
}



.sec-nav{
    @include format-sec();
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: stretch;
    background-image: url(../img/fondo-menu.png);
    background-attachment: fixed;
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;

        li{
            text-align: center;
            align-items: stretch;
            padding: .5rem;
            width: 33.3%;

            a{
                text-decoration: none;
                align-items: stretch;
                color: componentes1.$color-princ;
                font-weight: 600;
                &:hover{
                    transition: .5s;
                    box-shadow: 0 2px componentes1.$color-gold;
                    color: componentes1.$color-gold;
                }
            }
        }
    }
}

.sec-main{
    @include format-sec();
    height: 35rem;
    background-color: black;
    padding-bottom: 2rem;
    background-image: url(../img/fondo-menu.png);
    background-attachment: fixed;

    .main{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        
        .title-text{
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            width: 100%;
            color: componentes1.$color-princ;
            row-gap: 2rem;
            h1{
                font-size: 4rem;
            }
        }
        .div-icon-money {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            @media (max-width:576px) {
                display: none;
            }
            i{
                width: 50%;
                text-align: center;
                position: relative;
                top: -3rem;
            }
        }
    }
}

.sec-presentation{
    display: grid;
    @include format-sec();
    min-height: 45rem;
    width: 100%;
    background-image: url(../img/fondo-menu.png);
    background-attachment: fixed;
    background-color: black;
    justify-content: center;
    align-items: center;
    h1{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: componentes1.$color-princ;
        font-size: 3rem;
        margin-top: 5rem;
        margin-bottom: 6rem;
    }
    .div-cards-presentation{
        padding: 1rem;
        width: 100%;
        height: 100%;
        gap: 2rem;
        justify-content: center;
        align-items: stretch;
        margin: 0;
        padding:0 3rem ;
    }
}
    
.sec-divition{
    @include format-sec();
    justify-content: center;
    align-items: center;
    background-image: url(../img/fondo-blanco.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    .row{
        .div-text{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 50%;
            padding: 2rem;
            margin: 0 ;
            @media (max-width:679px) {
                justify-content: center;
                align-items: center;
                text-align: center;
            }
            h3{
                font-size: 2.2rem;
                font-weight: bold; 
            }
            p{
                font-weight: 600;
                width: 90%;
            }
        }
        .div-img-divition{
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 40%;
            margin:0 ;
            @media (max-width:679px) {
                display: none;
                justify-content: center;
                align-items: center;
            }
            img{
                margin: 0 ;
                border-radius: 5rem;
                width: 60%;
                &:hover{
                    transition: .5s;
                    width: 65%;
                }
            @media (min-width:680px) and (max-width:890px) {
                justify-content: center;
                align-items: flex-end;
                min-width: 85%;
                &:hover{
                    transition: .5s;
                    width: 105%;
                }
            }
            }
        }
    }

}

.sec-person{
    @include format-sec();
    min-height: 100vh;
    background: url(../img/fondo-menu.png);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr;
    padding-top: 3rem;
    align-items: center;
    justify-content: center;

    @media (max-width:768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        
        h3{
            text-align: center;
            color: componentes1.$color-princ
        }

        .img-person-cont{
            width: 100%;
            height: 50vh;

            .img-person .trump{
                background-image: url(../img/trump.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                border-radius: 1.5rem;
                width: 100%;
                height: 100vh;

            }
            .img-person .buffet{
                background-image: url(../img/warren-big.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                border-radius: 1.5rem;
                width: 100%;
                height: 100vh;

            }
            .img-person .kiyosaki{
                background-image: url(../img/robert.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                border-radius: 1.5rem;
                width: 100%;
                height: 100vh;

            }

            }

        .cards-person{
            display: flex;
            flex-direction: row;
            align-items: stretch;
            height: 100%;
            padding: 1rem 2rem;
            row-gap: 2rem;
        }
        
    }

    .name-person{
        text-align: center;
        grid-area: 1/1/2/3;
        color: componentes1.$color-princ;
        font-size: 2.5rem;
        font-weight: 800;
        font-style: italic;
    }
    .img-person-cont{
        width: 100%;
        height: 75vh;
        position: relative;
        display: flex;
        align-items: center;

        .img-person{
            grid-area: 2/1/3/2;
            width: 100%;
            height: 100%;
            align-self: center;
        }
        .trump{
            background-image: url(../img/trump.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 1.5rem;
        }
        .buffet{
            background-image: url(../img/warren-big.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top;
            border-radius: 1.5rem;
        }
        .kiyosaki{
            background-image: url(../img/robert-big.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top;
            border-radius: 1.5rem;
        }
        .description-person{
            height: 100%;
            width: 100%;
            display: none;
            position: absolute;
            top: 0%;
            background-color: rgba(0, 0, 1, 0.142);
            padding: 2rem;
            p{
                font-size: 600;
            }

        }
        
        &:hover .description-person{
            transition: 1s;
            display: flex;
            color: white;
            align-items: center;
            justify-content: center;
        }
        &:hover .img-person{
            transition: 1s;
            filter: blur(2px);
        }
    }


    


    .cards-person{
        grid-area: 2/2/3/3;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        height: 100%;
        padding: 1rem 2rem;
        row-gap: 2rem; 

        .card{
            &:hover{
                transition: 1s;
                background-color: rgba(255, 255, 255, 0.718);
                border: 3px solid componentes1.$color-gold;
            }
        }
    }
    
    
}